body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #dbea11, #ef7708);
    color: #fff;
    text-align: center;
    padding: 20px;
}
.second {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #0fbcdf, #8209b2);
    color: #fff;
    text-align: center;
    padding: 20px;
}

.chart {
    margin-top: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    color: aqua;
    background: linear-gradient(to bottom, #2aee54, #f223b4);
}


.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #ff0011;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.weather-info, .forecast-info {
    margin-top: 20px;
}

 .forecast-info p {
    margin: 5px 0;
}

.forecast-day {
    display: inline-block;
    width: 120px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 5px;
}
